@import "./_fonts/seti.less";

.file-icon::before {
  color: var(--magic-idea-foreground);
  vertical-align: top;
}
.codicon.file-icon::before{
  vertical-align: -2px;
}

.icon-yellow::before{
  color: #a2852f;
}
.icon-blue::before{
  color: #519aba;
}
.icon-green::before{
  color: #8dc149;
}
.icon-red::before{
  color: #cc3e44;
}
.icon-orange::before{
  color: #e37933;
}
.icon-purple::before{
  color: #a074c4;
}
.icon-gray::before{
  color: #6c6c6c;
}
.icon-pink::before{
  color: #c678dd;
}
.icon-cyan::before{
  color: #56b6c2;
}